* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

html {
    scroll-behavior:smooth;
}

/*--------------------------------------------------------------------- NAV SECTION ---------------------------------------------------------------*/

.navSection {
    height: 750px;
    display: flex;
    flex-direction: column;
    background-image: url('images/nick-hillier-yD5rv8_WzxA-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000d9;
    background-blend-mode: soft-light;
}

/*------------ First Part. ------------*/

.firstPart {
    display: flex;
    justify-content: space-between;
}

.sectionLogo {
    display: flex;
}

.logoImage {
    margin: 10px;
    height: 60px;
}

.logoInformation {
    display: flex;
    flex-direction: column;
}

.logoName {
    margin-top: auto;
}

.logoDescription {
    margin-bottom: auto;
    font-weight: 600;
}

.mainMenu {
    display: flex;
}

.ulMenu {
    list-style: none;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.ulMenu li {
    margin: 5px;
    margin-right: 20px;
}

.ulMenu a {
    margin: 3px;
    text-decoration: none;
}

/*------------ First Part Menu Fixed. ------------*/

.firstPartScroll {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.firstPartScroll .sectionLogo {
    display: flex;
}

.firstPartScroll .logoImage {
    margin: 10px;
    height: 60px;
}

.firstPartScroll .logoInformation {
    display: flex;
    flex-direction: column;
}

.firstPartScroll .logoName {
    margin-top: auto;
}

.firstPartScroll .logoDescription {
    margin-bottom: auto;
    font-weight: 600;
}

.firstPartScroll .mainMenu {
    display: flex;
}

.firstPartScroll .ulMenu {
    list-style: none;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}


.firstPartScroll .ulMenu li {
    margin: 5px;
    margin-right: 20px;
}

.firstPartScroll .ulMenu a {
    margin: 3px;
    text-decoration: none;
}

/*------------ Second Part. ------------*/

.secondPart {
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
}

.companyName {
    margin: auto auto auto auto;
    font-size: 30px;
}

.companyImage {
    margin: 10px auto auto auto;
    width: 550px;
}

.companyURL {
    margin: 10px auto auto auto;
}

.projectName {
    margin: 10px auto auto auto;
}

.descriptionProject {
    margin: 10px auto auto auto;
    text-align: center;
}

.buttonShowMore {
    border: 0px;
    margin: 10px auto auto auto;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    padding: 15px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px 4px #4e4538;
}

.buttonShowMore:hover {
    color:#ffffff;
    background-color: #3b2303;
}

/*--------------------------------------------------------------------- FIRST SECTION ---------------------------------------------------------------*/

.firstSection {
    height: 600px;
    display: flex;
    flex-direction: column;
}

.shortInfo {
    font-weight: 700;
    font-size: 30px;
    color: #3b2303;
    margin: 300px auto 15px auto;
}

.goToCounters {
    border: 0px;
    margin: 15px auto auto auto;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    color: #3b2303;
    box-shadow: 0px 0px 10px 4px #4e4538;
}

.goToCounters:hover {
    color:#ffffff;
    background-color: #3b2303;
}

/*--------------------------------------------------------------------- COUNTERS SECTION ---------------------------------------------------------------*/

.counters {
    height: 750px;
    flex-direction: row;
    padding: 5px;
    display: flex;
    visibility: hidden;
}

.countersAnimation {
    animation: countersAnimation;
    animation-duration: 3s;
    visibility: visible;
    display: flex;
}

@keyframes countersAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.firstCounter, .secondCounter, .thirdCounter {
    display: flex;
    flex-direction: column;
    margin: auto 10px auto 10px;
    height: 500px;
}

.titleCounter {
    color: #3b2303;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;

}

.descriptionCounter {
    color: #3b2303;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.numberCounter {
    color: #3b2303;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-top: 35px;
}

.buttonsChange {
    color: #3b2303;
    margin-top: 25px;
    text-align: center;
    margin: auto auto auto auto;
    display: flex;
}

.increaseNumber, .decreaseNumber {
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    background-color: #fae1bb;
    box-shadow: 0px 0px 10px 2px #3b2303;
    color: #3b2303;
    margin: auto 20px auto 20px;
    padding: 15px;
    border-radius: 20px;
}

.increaseNumber:hover, .decreaseNumber:hover {
    background-color: #3b2303;
    color: #fae1bb;
}

/*--------------------------------------------------------------------- FOOTERS SECTION ---------------------------------------------------------------*/

.footerSection {
    height: 80px;
    display: flex;
    background-color: #3b2303;
}

.footerText {
    margin: auto;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}